
                    <h2><%= @post.comments.count %> Comments</h2>
                    <p>Reply Comment</p>
                          <% @post.comments.each do |comment| %>
                        <div class="catagerious">
                            <div class="col-md-5 catagerious1">
                              <div class="catagerious-left">
                                <h4><a href="#"><%= comment.commenter %></a></h4>
                                <p><%= comment.created_at.strftime('%b %d, %Y') %></p>
                              </div>
                                
                            </div>
                            <div class="col-md-7 catagerious2">
                              <h4><%= comment.body %></h4>
                              <h6><a href="#">Reply</a></h6>
                            </div>
                            <div class="clearfix"> </div>
                        </div>
                    <% end %>
                    <%= form_for([@post, @post.comments.build], remote: true)  do |f| %> 
                  <div class="col-md-6 contact">
                  <h3>Add a Comment : </h3>
                    <form>
                        <% if user_signed_in? %>
                             <%= f.text_field :commenter , :class => 'text' ,:value => current_user.name, :required => true, placeholder: "Enter your name" %>
                        <% else %>
                             <%= f.text_field :commenter , :class => 'text', :required => true %>
                        <% end %>
                              <%= f.text_area :body, rows: 10 %>
                               <%= f.submit :id => 'submit' %>
                        <% end %>
                    </form>